.container-fluid{
  color: white;
}

.filebox{
  width: 80px;
  height: 70px;
  padding: 5px;
  position: relative;
  border-radius: 5px;
  background: #E74C3C;
  background-image:url('/assets/images/图片.png');
  -webkit-background-size: 70% 70%;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center center;
}

.fileboxline{
  position: absolute;
  height: 1px;
  width: 45px;
  background: #767676;
  top: 28px;

}
.fileboxlineTwo{
  position: absolute;
  border-left:  1px solid #767676;
  height: 45px;
  width: 45px;
  left: 28px;
}
.file-image{
  margin-top: 15px;
}
.error{
  color:red;
}
