<div class="title">
  <a (click)="goBack()" class="get-back">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  </a>
  <span class="h6">审核列表</span>
</div>
<div class="container">
  <!--注册审核-->
  <div class="review-status">
    <div class="review-status-title">
      <span>注册审核</span>
    </div>
    <div class="review-status-table">
      <table class="table">
        <thead style="background: #EDFFFF;">
        <tr>
          <th colspan="2">会员/微信/手机</th>
          <th>申请时间</th>
          <th>状态</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of auditList" [hidden]="list.grade==0">
            <td colspan="2" style="padding-right: 0">
              <p>昵称：{{list.name}}</p>
              <p>微信：{{list.weixin}}</p>
              <p>电话：{{list.phone}}</p>
            </td>
            <td>{{list.createTime}}</td>
            <td>
              <p [hidden]="grade ==0" class="text-center" [ngClass]="{'text-danger': true}">{{list.inviteStatus===0?'未审核':'已审核'}}</p>
              <button *ngIf="!(grade ==0 || list.inviteStatus===1)" class="btn btn-danger" (click)="auditClick(list.id);openModal(audit)">点击审核</button>
              <p [hidden]="grade !=0" class="text-center" [ngClass]="{'text-danger': true}">{{list.masterStatus===0?'未审核':'已审核'}}</p>
              <button *ngIf="!(grade !=0 || list.masterStatus===1)" class="btn btn-danger" (click)="auditClick(list.id);openModal(audit)">点击审核</button>
            </td>
        </tr>
        </tbody>
      </table>
      <div>
        <ul class="pagination">
          <li style="margin-right: 20px">
            <a href="javascript:" aria-label="Previous" (click)="previousPageRegister()">
              <button aria-hidden="true" class="btn-primary">上一页</button>
            </a>
          </li>
          <li>
            <a href="javascript:" aria-label="Next" (click)="nextPageRegister()">
              <button aria-hidden="true" class="btn-primary">下一页</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <!--升级审核-->
  <div class="review-status">
    <div class="review-status-title">
      <span>升级审核</span>
    </div>
    <div class="review-status-table">
      <table class="table">
        <thead style="background: #EDFFFF;">
          <tr>
          <th colspan="2">会员/微信/手机</th>
          <th>申请时间</th>
          <th>状态</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of upList">
          <td colspan="2" style="padding-right: 0">
            <p>昵称：{{list.name}}</p>
            <p>微信：{{list.weixin}}</p>
            <p>电话：{{list.phone}}</p>
          </td>
          <td>{{list.createTime}}</td>
          <td>
            <p class="text-center" [ngClass]="{'text-danger': true}">{{list.upgradeStatus===1?'未审核':'已通过'}}</p>
            <button  *ngIf="!(list.upgradeStatus===2 )" class="btn btn-danger" (click)="upClick(list.id);openModal(upGrade)">点击审核</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <ul class="pagination">
        <li style="margin-right: 20px">
          <a href="javascript:" aria-label="Previous" (click)="previousPageAudit()">
            <button aria-hidden="true" class="btn-primary">上一页</button>
          </a>
        </li>
        <li>
          <a href="javascript:" aria-label="Next" (click)="nextPageAudit()">
            <button aria-hidden="true" class="btn-primary">下一页</button>
          </a>
        </li>
      </ul>
    </div>
    <hr>
  </div>
  <!--退出-->
  <div class="">
    <a [routerLink]="['/login']" class="btn btn-danger btn-block">安全退出</a>
  </div>
</div>
<!--注册弹窗-->
<ng-template #audit>
  <div class="modal-body">
    <h5 class=" text-info text-center">注册确认通过吗？</h5>
    <div class="btn-box text-center">
      <button type="button" class="btn btn-info"  (click)="onAudistClick();modalRef.hide()">确认</button>
      <button type="button" class="btn btn-danger"  (click)="modalRef.hide()">取消</button>
    </div>
  </div>
</ng-template>
<!--升级弹窗-->
<ng-template #upGrade>
  <div class="modal-body">
    <h5 class=" text-info text-center">升级确认通过吗？</h5>
    <div class="btn-box text-center">
      <button type="button" class="btn btn-info"  (click)="onUpGradeClick();modalRef.hide()">确认</button>
      <button type="button" class="btn btn-danger"  (click)="modalRef.hide()">取消</button>
    </div>
  </div>
</ng-template>

