.header{
  height: 30vh;
  background: #317EF3;
  border-bottom: 1px solid white;
  padding: 1rem 1rem;
}
.header img{
  height: 15vh;
  width: auto;
  margin: 0 auto;
}
.header span{
  display: inline-block;
  color: white;
  font-size: 1.6rem;
  padding-top: 1.6rem;
}

.container-fluid{}
.filebox{
  width: 80px;
  height: 70px;
  padding: 5px;
  position: relative;
  border-radius: 5px;
  background: #E74C3C;
  background-image:url('/assets/images/图片.png');
  -webkit-background-size: 70% 70%;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center center;
}
.fileboxline{
  position: absolute;
  height: 1px;
  width: 45px;
  background: #767676;
  top: 28px;

}
.fileboxlineTwo{
  position: absolute;
  border-left:  1px solid #767676;
  height: 45px;
  width: 45px;
  left: 28px;
}
.file-image{
  margin-top: 15px;
}
.error{
  color:red;
}
/*地图部分的位置演示*/
.location{
  font-size: 1.5rem;
  margin-bottom: 1vh;
}
.select-city{
  display: inline-block;
  margin-left: 15px;
  color: black;
  font-size: 1.2rem;
}
.select-city-touch{
  display: inline-block;
}
.select:hover{
  cursor: pointer;
}
.select-list-province{
  background: rgba(18,51,76,0.8);
  padding-left: 0;
  /*padding-right: 40px;*/
  color: #87FFFF;
  position: absolute;
  top: 32px;
  left: 154px;
  z-index: 1;
}

.thing{
  margin-top: 2vh;
  font-size: 1.5rem;
}
.thing-select{
  margin-top: 1vh;
  display: flex;
  justify-content: space-around;
}
.thing-select>button:hover{
  background: black;
}


.sure{
  margin-top: 2vh;
}

.province-city{
  position: relative;
  margin-left: 2vw;
}
.select-list-city{
  background: rgb(47, 133, 255);
  padding-left: 0;
  color: black;
  position: absolute;
  top: 5px;
  left: 20px;
  z-index: 1;
}
.select-list-country{
  background: rgb(47, 133, 255);
  padding-left: 0;
  color: black;
  position: absolute;
  top: 5px;
  left: 111px;
  z-index: 1;
}
.select-list-community{
  background: rgb(47, 133, 255);
  padding-left: 0;
  color: black;
  position: absolute;
  top: 5px;
  left: 219px;
  z-index: 1;
}
.select-list-city>li,.select-list-country>li,.select-list-community>li{
  list-style: none;
  text-align: center;
  padding: 10px 10px;
  letter-spacing: 2px;
}
.select-list-city>li:hover,.select-list-country>li:hover,.select-list-community>li:hover{
  cursor: pointer;
  background: rgba(244,50,173,0.5);
}

.house-purchase,.house-renting{
  margin-top: 1vh;
  font-size: 1.3rem;
}
