<div class="container-fluid">
  <div  #baidumap style="height: 50vh;display: none"></div>
  <div class="main">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="top">
          <h4>

          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="menu">
          <form class="form-horizontal" id="commentForm" [formGroup]="myForm" (submit)="onSubmit()">
            <!--定位-->
            <div class="form-group">
              <div class="col-sm-10">
                <span id="locationText" #locationspan [innerText]="locationTxt">定位中....</span>
                <i class="fa fa-location-arrow pull-right"></i>
                <div id="center_map"></div>
              </div>
            </div>
            <!--姓名-->
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">您的姓名</label>
              <div class="col-sm-10">
                <input type="text" formControlName="name"  class="form-control" id="name" placeholder="请填写" name="name">
              </div>
              <div *ngIf="formName.invalid && (formName.dirty || formName.touched)" class="col-sm-2 control-label">
                <div *ngIf="formName.errors.required">
                  姓名不能为空
                </div>
              </div>
            </div>
            <!--联系方式-->
            <div class="form-group">
              <label for="phone" number class="col-sm-2 control-label">联系方式</label>
              <div class="col-sm-10">
                <input type="text" formControlName="phone" class="form-control" id="phone" name="phone" placeholder="请填写电话">
              </div>
              <div *ngIf="formPhone.invalid && (formPhone.dirty || formPhone.touched)" class="col-sm-2 control-label">
                <div *ngIf="!(formPhone.hasError('mobileValidators','username'))">
                  请输入合法的手机号
                </div>
              </div>
            </div>
            <!--身份证-->
            <div class="form-group">
              <label for="card" number class="col-sm-2 control-label">身份证号</label>
              <div class="col-sm-10">
                <input type="text" formControlName="card" class="form-control" id="card" name="card" placeholder="请填写身份证号/选填">
              </div>
            </div>
            <!--地址-->
            <div class="form-group">
              <label  for="adress1" class="col-sm-2 control-label">纠纷发生地</label>
              <div class="col-sm-10 adress">
                <input type="email" class="form-control" id="adress1" value="贵州省铜仁市江口县闵孝镇" disabled>
                <select class="form-control" style="margin-top: 5px" (change)="selectChange()" id="select">
                  <option>请选择村</option>
                  <option>哨上社区</option>
                  <option>闵家场村</option>
                  <option>鱼良溪村</option>
                  <option>中练村</option>
                  <option>提红村</option>
                  <option>双屯村</option>
                  <option>沙坝河村</option>
                  <option>新岭村</option>
                  <option>峰坝村</option>
                  <option>平寨村</option>
                </select>
              </div>
            </div>
            <!--纠纷类型-->
            <div class="form-group">
              <label for="dispute" number class="col-sm-2 control-label">纠纷类型</label>
              <div class="col-sm-10 dispute-btn">
                <button (click)="disputeClick($event)" type="button" class="btn btn-primary">林地纠纷</button>
                <button (click)="disputeClick($event)" type="button" class="btn btn-danger">家事纠纷</button>
                <button (click)="disputeClick($event)" type="button" class="btn btn-info">合同纠纷</button>
                <button (click)="disputeClick($event)" type="button" class="btn btn-default">用水纠纷</button>
                <button (click)="disputeClick($event)" type="button" class="btn btn-success">相邻纠纷</button>
                <button (click)="disputeClick($event)" type="button" class="btn btn-info">劳资纠纷</button>
              </div>
            </div>
            <!--描述-->
            <div class="form-group">
              <label for="describe" class="col-sm-2 control-label">事件描述</label>
              <div class="col-sm-10">
                <textarea class="form-control" formControlName="content" rows="3" id="describe" placeholder="请输入描述事时间内容" name="describe"></textarea>
              </div>
              <div *ngIf="formContent.invalid && (formPhone.dirty || formContent.touched)" class="col-sm-2 control-label">
                <div *ngIf="formContent.errors.required">
                  事件描述不能为空
                </div>
              </div>
            </div>
            <!--图片上传-->
            <div class="form-group">
              <label for="describe" style="margin-bottom: 25px" class="col-sm-2 control-label">请上传身份证或现场图片</label>
              <div class="col-sm-12">
                <input type="file" #uploadfiles name="uploadfiles" style="display: none" id="uploadfiles" multiple (change)="onChangeFiles($event,fileImage)">
                <div class="filebox" id="filebox" (click)="fileboxClick(uploadfiles)"></div>
                <div class="file-image" id="fileImage" #fileImage></div>
              </div>
            </div>
            <!--提交-->
            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-block btn-primary">提交</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" >
        <span></span>
      </div>
    </div>
  </div>
</div>
