.header{
  height: 30vh;
  background: #317EF3;
  border-bottom: 1px solid white;
  padding: 1rem 1rem;
}
.header img{
  height: 15vh;
  width: auto;
  margin: 0 auto;
}
.header span{
  display: inline-block;
  color: white;
  font-size: 1.6rem;
  padding-top: 1.6rem;
}


.inform{
  /*border-bottom:1px solid #000*/
}
.inform h4{
  padding:0 10px;
}
.inform h4 span{
  font-size: 2rem;
  vertical-align: middle
}


.container-fluid{}


.filebox{
  width: 80px;
  height: 70px;
  padding: 5px;
  position: relative;
  border-radius: 5px;
  background: #E74C3C;
  background-image:url('/assets/images/图片.png');
  -webkit-background-size: 70% 70%;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center center;
}
.fileboxline{
  position: absolute;
  height: 1px;
  width: 45px;
  background: #767676;
  top: 28px;

}
.fileboxlineTwo{
  position: absolute;
  border-left:  1px solid #767676;
  height: 45px;
  width: 45px;
  left: 28px;
}
.file-image{
  margin-top: 15px;
}
.error{
  color:red;
}
.dispute-btn button{
  margin-top: 5px;
}
.dispute-btn button:hover{
  background: black;
}
.adress input,select{
  color: black;
}
