<div class="header text-center">
  <img src="assets/images/logo.png" alt="" class="btn-block">
  <span>闵孝镇政法110微信平台</span>
</div>
<div class="inform">
  <h4 class="text-primary">
    <span class="glyphicon glyphicon-volume-up text-danger" aria-hidden="true"></span>
    你好，闵孝镇党委书记潘诗文、镇长姚奎欢迎您为闵孝发展建言献策，您反映的问题和提出的建议，我们将根据实际及时办事，并在本平台公开
  </h4>
</div>
<div class="nav" *ngFor="let list of navList;">
  <div class="nav-child" *ngFor="let listItem of list;">
    <a
      [ngStyle]="{'background-color':listItem.bgColor,'background-image': listItem.imgUrl}"
      [routerLink]="[listItem.url,{name: listItem.name, text: listItem.text}]">
    </a>
    <p class="text-center">{{listItem.name}}</p>
  </div>
</div>
