.header{
  height: 30vh;
  background: #317EF3;
  border-bottom: 1px solid white;
  padding: 1rem 1rem;
}
.header img{
  height: 15vh;
  width: auto;
  margin: 0 auto;
}
.header span{
  display: inline-block;
  color: white;
  font-size: 1.6rem;
  padding-top: 1.6rem;
}


.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.nav a{
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 15px;
  -webkit-background-size: 70% 70%;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center center;
}
.nav p{
  color: white;
  font-size: 1.8rem;
  margin-top: 10px;
}
