.title{
  background: #47CF04;
  color: white;
  padding: 10px 15px;
}
.forms{
  padding: 10px 15px;
}
.get-back{
  display: inline-block;
  margin-right: 15px;
  color: white;
}
.fa-angle-left{
  font-size: 20px;
}
.review-status{
  margin-top: 15px;
}
.review-status-title{
  background: #47CF04;
  font-size: 16px;
  color:white;
  line-height: 40px;
  padding-left: 10px;
  border-radius: 5px;
}
.review-status-table>.table>thead>tr>th{
  font-size: 0.9rem;
}
.review-status-table>.table>tbody tr td{
  font-size: 0.8rem;
}
.review-status-table>.table>tbody tr td p{
  margin-bottom: 0;
}
.review-status-btn{
  text-align: center;
}
.container{
  padding-bottom: 20px;
}
