.register{
  height: 100vh;
  background-image: url('/assets/images/bg_list.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  color: white;
}

.title{
  background: #000069;
  color: white;
  padding: 5px 15px;
}
.forms{
  padding: 10px 15px;
}
.get-back{
  display: inline-block;
  margin-right: 15px;
  color: white;
}
.fa-angle-left{
  font-size: 20px;
}
.control-label{
  color: white;
}
.forms a{
  display: block;
  margin-top: 10px;
  color: white;
}
